body {
    background-color: #212121;
}

.box1, .box2, .box3, .box4, .box5{
    margin-left:15%;
    margin-right:15%;
}

.box1, .box5{
    background-color: #1F2937;
}

.box2, .box4 {
    background-color: #F9FAF8;
}







.box1container{
    
    position: relative;
    margin-left: 20%;
    margin-right:20%;
    padding-bottom:10%;
}

.logo {
    max-width: 10%;
    display:inline;
}

.box1header{
    padding-top: 5%;
    padding-bottom: 10%;
}

.box1header ul{

    display: inline-flex;
    justify-content: right;
}

.box1header li{
    display:inline;
    color: #E5E7EB;
}


.box1content{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
}

.rightbox img{
    max-width: 10%;
}








.box3 {
    background-color: #E5E7EB;
}

.box5 {
    text-align: center;
    padding: 5%;
    color:#F9FAF8
}

